
@charset "utf-8";
*{
    padding: 0;margin: 0;list-style: none;
}
header{
    width: 100%;height: 2rem;background: #ffac2c;color: white;line-height: 2rem;font-size: 0.85rem;display: flex;
    div:nth-of-type(1){
        margin-left: 0.5rem;
    }
    div:nth-of-type(2){
        margin-left: 4.3rem;
    }
}
.banner{
    width: 100%;height: 4.5rem;display: flex;
    div:nth-of-type(1){
        width: 4rem;height: 100%;
        img{
          width: 2.75rem;height: 2.75rem;
          margin:0.95rem 0.8rem
        }
    }
    div:nth-of-type(2){
        width: 5rem;
        p:nth-of-type(1){
            font-size: 0.825rem;color: #ff6c25;
            margin-top: 1rem;
        }
        p:nth-of-type(2){
            font-size: 0.55rem;color: #949494;
            margin-top: 0.65rem;
        }
    }
    div:nth-of-type(3){
        color: #949494;
        p{
            margin-top: 1.1rem;
            font-size: 0.525rem
        }
    }
}
.list{
    width: 100%;height:8.875rem;
    background: #f5f5f5;
    border: 1px solid white;
    >div:nth-of-type(1){margin-top: 0.8rem;}
    >div:nth-of-type(2){margin-top: 0.8rem;}
    >div:nth-of-type(3){margin-top: 0.9rem;}
    >div{
        height: 1.875rem;width: 100%;
        display: flex;
        div{
            width: 50%;
            p:nth-of-type(1){
                margin-left: 0.6rem;
                font-size: 0.525rem;
                color: #aeaeae;
            }
            p:nth-of-type(2){
                margin-left: 0.6rem;
                margin-top: 0.29rem;
                font-size: 0.7rem;
            }
            
        }
        div:nth-of-type(1){
            border-right : 1px solid #e0e0e0;
        }
        button:nth-of-type(1){
                width: 6rem;
                height: 1.6rem;
                background: #fa5a2a;
                border: none;
                border-radius: 5px;
                margin-left:0.5rem ;
                a{
                    color: white;
                    font-size: 0.8rem;
                }
                
            }
            button:nth-of-type(2){
                width: 6rem;
                height: 1.6rem;
                background: #ffac2c;
                border: none;
                border-radius: 5px;
                margin-left: 1.5rem;
                a{
                    color: white;
                    font-size: 0.8rem
                }
                ;
            }
    }
}
.tu{
    width: 100%;
    height: 8.4rem;
    >p{
        font-size: 0.7rem;color: #ff8240;margin-left: 0.75rem;margin-top: 0.5rem;
    }
    >div:nth-of-type(1){
        width: 14rem;
        height: 6rem;
        margin: 0 auto;
        border-bottom: 1px solid red;
        display: flex;
        >div{
            height: 100%;
            width: 33.33%;
            position: relative;
            >div:nth-of-type(1){
                 width: 3.5rem;
//                  height: 2rem;
                     background: #f6f6f6;
                    font-size: 0.5rem;
                    margin-left: 1.2rem;
            }
            >div:nth-of-type(2){
                img{
                    width: 2.5rem;
                }
                .png1{
                    margin-left: 0.5rem;
                    margin-top: 3rem;
                }
                .png2{
                    margin-left: 0.5rem;
                    margin-top: 3.9rem;
                }
                .png3{
                    margin-left: 0.5rem;
                    margin-top: 2.3rem;
                }
            }

        }
    }
    >div:nth-of-type(2){
        color: #acacac;
        width: 14rem;display: flex;justify-content: space-around;margin-top: 0.2rem;
        div{
            margin-left: 0.8rem;
        }
    }
}
.clear1{
   position: absolute;
   top: 1.5rem;left: 0.2rem;color: #fa5a2a;
}
.clear2{
   position: absolute;
   top: 2.2rem;left: 0.2rem;color: #3cb7fd;
}
.clear3{
   position: absolute;
   top: 0.7rem;left: 0.2rem;color: #ffb900;
}
.foot{
    width: 14.65rem;height: 3.5rem;
    margin: 0 auto;border-radius: 5px;
    background: #facd89;
    position: relative;
    border: 1px solid transparent;
    color: #fa5a2a;
    img{
        position: absolute;
        top: 0.2rem;left: 0;
        width: 1.8rem;height: 0.8rem;
    }
    p:nth-of-type(1){
        margin-left: 2.3rem;
        margin-top: 0.3rem;
    }
     p:nth-of-type(2){
        text-align: center;margin-top: 0.3rem;
    }
     p:nth-of-type(3){
        text-align: center;margin-top: 0.3rem;
    }
}
