* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

header {
  width: 100%;
  height: 8rem;
  background: #FEAC24; }
  header div {
    position: relative;
    top: 1.5rem; }
  header img:nth-child(1) {
    width: 25%;
    position: relative;
    left: 6.2rem; }
  header img:nth-child(3) {
    width: 15%;
    position: relative;
    left: 5.4rem; }
  header span {
    color: #FFFEFC;
    font-size: 0.6rem;
    position: relative;
    bottom: 0.1rem;
    position: relative;
    left: 5.8rem; }

.content {
  width: 100%; }
  .content .content-list1 {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .content .content-list1 div {
      width: 50%;
      position: relative;
      top: 1.1rem; }
      .content .content-list1 div p {
        color: darkgray;
        font-size: 0.7rem; }
    .content .content-list1 img {
      margin-top: 0.6rem;
      width: 100%;
      height: 80%; }
    .content .content-list1 span {
      font-size: 1.5rem;
      color: #ED5A0A;
      font-weight: bold; }
    .content .content-list1 div:nth-child(1) p {
      margin-left: 1rem; }
    .content .content-list1 div:nth-child(1) p:nth-child(2) {
      margin-top: 1.6rem; }
  .content .kong {
    margin-top: 2rem;
    width: 100%;
    height: 0.8rem;
    background: #F5F5F5;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray; }
  .content .content-list2 {
    width: 100%; }
    .content .content-list2 ul {
      display: flex;
      border-bottom: 1px solid #DBDBDB;
      margin-top: 0.6rem; }
      .content .content-list2 ul img {
        width: 40%; }
      .content .content-list2 ul li {
        font-size: 0.8rem;
        text-align: center; }
      .content .content-list2 ul li:nth-child(2) {
        position: relative;
        top: 0.4rem; }
        .content .content-list2 ul li:nth-child(2) a {
          color: #303030; }
      .content .content-list2 ul li:nth-child(3) {
        position: relative;
        top: 0.6rem;
        font-size: 0.6rem;
        left: 3.5rem;
        color: #ED6255; }
      .content .content-list2 ul li:nth-child(4) {
        position: relative;
        top: 0.5rem;
        font-size: 0.8rem;
        left: 3.8rem;
        font-weight: bold;
        color: lightgray;
        margin-bottom: 1rem; }
  .content .content-list3 {
    width: 100%; }
    .content .content-list3 ul {
      display: flex;
      border-bottom: 1px solid #DBDBDB;
      margin-top: 0.6rem; }
      .content .content-list3 ul img {
        width: 40%; }
      .content .content-list3 ul li {
        font-size: 0.8rem;
        text-align: center; }
      .content .content-list3 ul li:nth-child(2) {
        position: relative;
        top: 0.4rem; }
        .content .content-list3 ul li:nth-child(2) a {
          color: #303030; }
      .content .content-list3 ul li:nth-child(3) {
        position: relative;
        top: 0.6rem;
        font-size: 0.6rem;
        left: 3.4rem;
        color: #ED6255; }
      .content .content-list3 ul li:nth-child(4) {
        position: relative;
        top: 0.5rem;
        font-size: 0.8rem;
        left: 3.6rem;
        font-weight: bold;
        color: lightgray;
        margin-bottom: 1rem; }
  .content .content-list4 {
    width: 100%; }
    .content .content-list4 ul {
      display: flex;
      border-bottom: 1px solid #DBDBDB;
      margin-top: 0.6rem; }
      .content .content-list4 ul img {
        width: 40%; }
      .content .content-list4 ul li {
        font-size: 0.8rem;
        text-align: center; }
      .content .content-list4 ul li:nth-child(2) {
        position: relative;
        top: 0.4rem; }
        .content .content-list4 ul li:nth-child(2) a {
          color: #303030; }
      .content .content-list4 ul li:nth-child(3) {
        position: relative;
        top: 0.5rem;
        font-size: 0.8rem;
        left: 8.3rem;
        font-weight: bold;
        color: lightgray;
        margin-bottom: 1rem; }
  .content .kong1 {
    width: 100%;
    height: 0.8rem;
    background: #F5F5F5;
    border-bottom: 1px solid lightgray;
    position: relative; }
  .content .kong2 {
    width: 100%;
    height: 4.8rem;
    background: #F5F5F5;
    position: relative; }

/*# sourceMappingURL=gr.css.map */
